ul#examples {
    list-style: none;
}
/* From: https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
ul#examples>li>pre>code {
    overflow: scroll;
    text-overflow: clip;
    /*display: -webkit-box;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    -webkit-box-orient: vertical;*/
    max-width: 50%;
    width: 50%;
    height: 600px;
}

.buttonDiv {
    height: 30px;
    width: 51.3%; /* Should be the same as the above object, but isn't? */
}
button {
    float: right;
}