ul#examples {
    list-style: none;
}
/* From: https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
ul#examples>li>pre>code {
    overflow: scroll;
    text-overflow: clip;
    /*display: -webkit-box;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    -webkit-box-orient: vertical;*/
    height: 600px;
}
ul#examples>li pre {
    width: 50%
}

.buttonDiv {
    height: 30px;
}
button {
    float: right;
}